.custom-icon {
    width: 120px;
    height: 120px;
    margin-right: 40px;
}
.record-row {
    display: flex;
    align-items: center;
    padding: 60px;
    margin-bottom: 10px;
    border-radius: 40px;
    background-color: #f9f9f9;
}
.category {
    font-weight: bold;
    margin-right: 40px;
}
.price {
    margin-left: 0.6rem;
    font-weight: bold;
    font-size: 1.8rem;
}
.time {
    margin-left: 0.6rem;
    font-weight: bold;
    font-size: 1.8rem;
}
.custom-card-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    color: #dd1d2e;
    display: block;
}